<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
<title>Mr. Locksmith - Das Vergleichsportal für Schlüsseldienstleistungen</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous" />
</head>
<body>
	<div layout:fragment="content">
		<form>
			<div class="jumbotron" style="background: #A9D0F5 !important">
				<!-- Customers Questionnaire -->
				<div class="row">

					<h2>
						Schritt 3 von 5: Wie ist die beschaffenheit ihrer Tür? <br /> <small>(Markieren Sie 'normal', falls Sie keine genauen Angaben machen können.)</small>
					</h2>
					<br /> <br />
					<div class="col-md-4 text-right">
						<h:commandLink>
							<div class="btn btn-default">
								<div class="card customMRLSMCard">
									<div style="margin-top:4px; border-radius:4px 4px 0 0; background: #{orderBean.order.door == 'wooden' ? '#A9D0F5' : 'white'};">
										<img class="card-img-top" id="woodenImage" src="img/icons/chopped-log.png" alt="wooden_door" />
									</div>
									<div class="card-block">
										<h4 class="card-title">
											Holztür <br /> <small>kein Sicherheitsschloss </small>
										</h4>
										<p class="card-text"></p>
									</div>
								</div>
							</div>
						</h:commandLink>
					</div>

					<div class="col-md-4 text-center">
						<h:commandLink>
							<div class="btn btn-default">
								<div class="card customMRLSMCard">
									<div style="margin-top:4px; border-radius:4px 4px 0 0; background: #{orderBean.order.door == 'iron' ? '#A9D0F5' : 'white'};">
										<img class="card-img-top" id="ironImage" src="img/icons/iron-man.png" alt="iron_door" />
									</div>
									<div class="card-block">
										<h4 class="card-title">
											Stahltür <br /> <small>oder Sicherheitsschloss </small>
										</h4>
										<p class="card-text"></p>
									</div>
								</div>
							</div>
						</h:commandLink>
					</div>

					<div class="col-md-4 text-left">
						<h:commandLink>
							<div class="btn btn-default">
								<div class="card customMRLSMCard">
									<div style="margin-top:4px; border-radius:4px 4px 0 0; background: #{orderBean.order.door == 'normal' ? '#A9D0F5' : 'white'};">
										<img class="card-img-top" id="normalImage" src="img/icons/exit-1.png" alt="normal_door" />
									</div>
									<div class="card-block">
										<h4 class="card-title">normale Tür</h4>
										<p class="card-text"></p>
									</div>
								</div>
							</div>
						</h:commandLink>
					</div>

				</div>
				<br />
				<div class="row"></div>
				<br />
				<div class="row">
					<div class="col-md-12">
						<ul class="pager">
							<li><a href="./questionnaireHome2.xhtml?faces-redirect=true"><span class="glyphicon glyphicon-backward"></span> Zurück </a></li>
							<li><h:link outcome="./questionnaireHome4.xhtml" includeViewParams="true"> Weiter <span class="glyphicon glyphicon-forward"></span>
								</h:link></li>
						</ul>

						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75% beantwortet</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>