<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
<title>Mr. Locksmith - Das Vergleichsportal für Schlüsseldienstleistungen</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous" />
</head>
<body>
	<div th:fragment="content">
		<div class="col-md-6 text-left">
			<div class="panel panel-default">
				<div class="panel-heading">Ihr Angebot:</div>
				<div class="panel-body">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
					</ul>
					<div th:unless="${#lists.isEmpty(quotation.items)}">
					<table >
						<thead>
							<tr>
								<th>Posten:</th>
								<th>Betrag:</th>
								<th>Aktion:</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item, rowStat : *{items}" class="table table-striped">
								<td><input type="text" th:field="*{items[__${rowStat.index}__].name}" class="form-control" id="name"/></td>
								<td><input type="text" th:field="*{items[__${rowStat.index}__].value}" class="form-control" id="value"/></td>
								<td><button th:formaction="removeItem.html" th:formmethod="post" name="removeItemId" th:value="*{items[__${rowStat.index}__].id}" class="btn btn-danger btn-xs">x</button>
								</td>
							</tr>
						</tbody>
					</table>
					</div>
					<input type="hidden" th:field="${quotation.id}" name="quotationid" />
					<input type="hidden" th:field="${quotation.orderid}" name="orderid" />
					<input type="hidden" th:value="${session.contractorid}" name="contractorid" />
					<button class="btn btn-success btn-xs" th:value="addItem" name="action">+</button>
					<button class="btn btn-warning btn-xs" th:value="saveTender" name="action">Angebot speichern</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>