<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
<title>Mr. Locksmith - Das Vergleichsportal für Schlüsseldienstleistungen</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous" />
</head>
<body>
	<div th:fragment="content">
		<div class="col-md-6 text-left">
			<div class="panel panel-default">
				<div class="panel-heading">Ihr Angebot:</div>
				<div class="panel-body">
					<h:messages class="alert alert-danger" />
					<h:dataTable value="#{offerBean.offer.items}" var="item" class="table text-left">
						<h:column class="colOrder1">
							<f:facet name="header">Posten:</f:facet>
							<h:inputText value="#{item.name}" class="form-control" required="true" requiredMessage="Posten ist erforderlich!" />
						</h:column>
						<h:column class="colOrder2">
							<f:facet name="header">Betrag:</f:facet>
							<h:inputText value="#{item.value}" class="form-control" required="true" requiredMessage="Betrag ist erforderlich!">
								<f:validateRegex pattern="^[0-9]*[.][0-9][0-9]" />
							</h:inputText>
						</h:column>
						<h:column class="colOrder3">
							<f:facet name="header">Action:</f:facet>
							<h:commandButton value="x" class="btn btn-danger btn-xs" rendered="#{not empty item.name}" action="#{offerBean.removeItemFromOffer(item)}" />
						</h:column>
						<f:facet name="footer">
							<h:commandButton value="+" class="btn btn-info btn-xs" action="#{offerBean.addItemToOffer()}" />
							<h:commandButton class="btn btn-success btn-xs" action="#{offerBean.saveOffer()}" rendered="#{not offerBean.checkIfLoggedInUserAlreadySubmitTender()}" value="Angebot absenden!" />
							<h:commandButton class="btn btn-warning btn-xs" action="#{offerBean.updateOffer()}" rendered="#{offerBean.checkIfLoggedInUserAlreadySubmitTender()}" value="Bearbeitung speichern!" />
						</f:facet>
					</h:dataTable>

				</div>
			</div>
		</div>
	</div>
</body>
</html>