<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
<title>Mr. Locksmith - Das Vergleichsportal für Schlüsseldienstleistungen</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous" />
</head>
<body>
	<div layout:fragment="content">
		<div class="jumbotron" style="background: #D0F5A9 !important">
			<div class="row">
				<div class="col-md-12 text-center">
					<h2>
						Folgende Aufträge sind aktuell zu vergeben: <br /> <small>*(Alle Aufträge beziehen sich auf die gemachten Angaben der Kunden und sind ohne Gewähr.)</small>
					</h2>

					<table th:each="order, rowStat : ${orders}" class="table table-striped">

						<thead>
							<tr>
								<th>Auftragsnummer:</th>
								<th>Zu öffnen is:</th>
								<th>Schlüssel vorhanden:</th>
								<th>Tür ist aus:</th>
								<th>Express erwünscht:</th>
								<th>Adress Informationen:</th>
								<th>Aktionen:</th>
							</tr>
						</thead>
						<tbody>

							<tr>

								<td><span class="form-control-static" th:text="${order.id}"></span></td>
								<td><img th:if="${order.homeOrCar=='garage'}" src="img/icons/vehicle.png" /> <img th:if="${order.homeOrCar=='home'}" src="img/icons/home-2.png" /> <img th:if="${order.homeOrCar=='car'}"
									src="img/icons/transport-1.png" /></td>
								<td><span th:if="${not order.keyNotAvailable}" class="glyphicon glyphicon-ok"></span> <span th:if="${order.keyNotAvailable}" class="glyphicon glyphicon-remove"></span></td>
								<td><img th:if="${order.door=='iron'}" src="img/icons/iron-man.png" /> <img th:if="${order.door=='wooden'}" src="img/icons/chopped-log.png" /> <img th:if="${order.door=='normal'}"
									src="img/icons/exit-1.png" /></td>
								<td><span th:if="${not order.express}" class="glyphicon glyphicon-remove"></span> <span th:if="${order.express}" class="glyphicon glyphicon-ok"></span></td>
								<td>
									<table th:unless="${#lists.isEmpty(@registerClient.getAdresses(__${order.userid}__))}" class="table table-striped">
										<thead>
											<tr>
												<th>Straße / Hausnummer:</th>
												<th>PLZ / Ort:</th>
											</tr>
										</thead>
										<tbody th:each="adress, rowStat : ${@registerClient.getAdresses(__${order.userid}__)}">
											<tr>
												<td><span class="form-control-static" th:text="${adress.street +' / '+ adress.streetnumber}"></span></td>
												<td><span class="form-control-static" th:text="${adress.postcode +' / '+ adress.country}"></span></td>
											</tr>
										</tbody>
									</table>
								</td>

								<td><form th:action="formQuotation.html" th:object="${order}" th:method="post" role="form">
										<input type="hidden" th:value="${order.id}" name="orderid" />
										<button class="btn btn-primary btn-xs" name="action" th:value="submitTender" th:if="${not @quotationService.allreadyTendered(__${order.id}__,1)}">Angebot abgeben</button>
										<button class="btn btn-info btn-xs" name="action" th:value="editTender" th:if="${@quotationService.tenderCancelOrEditable(1,1)}">Angebot bearbeiten</button>
										<button class="btn btn-danger btn-xs" name="action" th:value="cancelTender" th:if="${@quotationService.tenderCancelOrEditable(1,1)}">Angebot stornieren</button>
										<img th:if="${@quotationService.isTenderAccepted(1,1)}" src="img/icons/agreement.png" />
									</form></td>

							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</body>
</html>
