<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
<title>Mr. Locksmith - Das Vergleichsportal für Schlüsseldienstleistungen</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous" />
</head>
<body>
	<div th:fragment="content">
		<div class="col-md-6 text-left">
			<div class="panel panel-default">
				<div class="panel-heading">
					Der Auftrag # <span th:text="${quotation.orderid}"></span> im Überblick:
				</div>
				<div class="panel-body">
					<div class="row">
						<div th:object="${@quotationService.getUserById(__${quotation.orderid}__)}">
							<div class="col-md-6">
								<label for="vorname">Vorname:</label> <span class="form-control-static" th:text="*{firstname}" id="vorname"></span>
							</div>
							<div class="col-md-6">
								<label for="nachname">Nachname:</label> <span class="form-control-static" th:text="*{surname}" id="nachname"></span>
							</div>

							<div class="row">
								<div class="col-md-6">
									<label for="email">Email:</label> <span class="form-control-static" th:text="*{email}" id="email"></span>
								</div>
								<div class="col-md-6">
									<label for="telefonnummer">Telefonnummer:</label> <span class="form-control-static" th:text="*{phonenumber}" id="telefonnummer"></span>
								</div>
							</div>
						</div>
					</div>
					<hr />
					<div class="row">
						<div th:object="${@quotationService.getOrderAdressByOrderid(__${quotation.orderid}__)}">
							<div class="col-md-6">
								<label for="strasse">Strasse:</label> <span class="form-control-static" th:text="*{street}" id="strasse"></span>
							</div>
							<div class="col-md-6">
								<label for="hausnummer">Hausnr.:</label> <span class="form-control-static" th:text="*{streetnumber}" id="hausnummer"></span>
							</div>

							<div class="row">
								<div class="col-md-6">
									<label for="plz">PLZ:</label> <span class="form-control-static" th:text="*{postcode}" id="plz"></span>
								</div>
								<div class="col-md-6">
									<label for="ort">Ort:</label> <span class="form-control-static" th:text="*{country}" id="ort"></span>
								</div>
							</div>
						</div>
					</div>
					<hr />
					<div th:object="${@quotationService.getOrderById(__${quotation.orderid}__)}">
						<div class="row">
							<div class="col-md-6">
								<label>Zu öffnen ist eine:</label> <span class="form-control-static" th:if="*{homeOrCar=='home'}">Haustür</span> <span class="form-control-static"
									th:if="*{homeOrCar=='car'}">Autotür</span><span class="form-control-static" th:if="*{homeOrCar=='garage'}">Garage</span>
							</div>
							<div class="col-md-6">
								<label>Tür ist aus:</label> <span class="form-control-static" th:if="*{door=='iron'}">Stahl</span> <span class="form-control-static" th:if="*{door=='wooden'}">Holz</span>
								<span class="form-control-static" th:if="*{door=='normal'}">Normal / k.A.</span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Schlüssel vorhanden:</label>
								<div th:if="*{not keyNotAvailable}">
									<span class="glyphicon glyphicon-ok"></span>
								</div>
								<div th:if="*{keyNotAvailable}">
									<span class="glyphicon glyphicon-remove"></span>
								</div>
							</div>
							<div class="col-md-6">
								<label>Express erwünscht: </label>
								<div th:if="*{express}">
									<span class="glyphicon glyphicon-ok"></span>
								</div>
								<div th:if="*{not express}">
									<span class="glyphicon glyphicon-remove"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>